.colorfondo {
    background-color: rgb(233, 190, 220);
  }
  .container{
    text-align: center;
  }
  .carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
  }
  .table__combo > img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
  }
  .table__cantidad > input{
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    margin-bottom: 30px;

  }